<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Portada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Portada</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="margin-top: 30px;">
    <h1 style="color: #ffffff; margin-left: 10px; margin-bottom: 10px;">Trailer</h1>
    <iframe width="100%" height="340" [src]="sanitize(vid)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</ion-content>