<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #3880ff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class=""></strong>
      <ion-card>
        <img src="assets/img/jamesbond-inicio.jpg"/>
        <ion-card-header>
          <ion-card-title style="font-size: 18px; text-align: center; font-weight: 600; color: #FFFFFF;">Agente 007</ion-card-title>
          <ion-card-subtitle style="font-size: 16px; text-align: center; font-weight: 600; color: #BCBCBC;">Sin tiempo para morir</ion-card-subtitle>         
        </ion-card-header>
      </ion-card>
  </div>
</ion-content>
